.btn {
  border: none;
  background: white;
  padding: 5px 8px;
  border-radius: 4px;
}

.btn-green {
  background: #7cce04;
  color: white;
}

.btn-gray {
  background: #f2f2f2;
  color: #b7b9b9;
}

.btn-black {
  background: #333333;
}
