.btn {
  display: flex;
  min-width: 25px;
  align-items: center;
  gap: 8px;
  border: none;
  background: white;
  padding: 5px 7px;
  border-radius: 4px;
  justify-content: center;
}

.btn-green {
  background: #7cce04;
}

.btn-gray {
  background: #f2f2f2;
}

.btn-black {
  background: #333333;
}

.btn__second-text {
  color: #2222224d;
  text-align: left;
  font-size: 12px;
}

.btn-lg {
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  gap: 20px;
}
