.textarea-box {
  display: flex;
  height: 100%;
}

.textarea-box__current {
  color: black;
  background: #f6f6f6;
  border: 0;
  border-radius: 8px;
  padding: 12px;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  width: 100%;
  outline: none;
  cursor: default;
}
