.board {
  background: white;
  padding: 12px 0;
  border-radius: 8px;

  &-inner {
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #f6f6f6;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #a1d214;
    }
  }

  &__header {
    display: flex;
    padding-top: 4px;

    &-left {
      display: flex;
      flex: 0 0 308px;
      align-items: center;
      border-bottom: 1px solid #ececec;
      padding-bottom: 16px;
    }

    &-right {
      display: flex;
    }

    &-name {
      font-size: 18px;
      font-weight: 700;
      padding: 0 16px;
    }

    &-dates {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 27px;
      border-bottom: 1px solid #ececec;
      padding-bottom: 8px;
      font-weight: 500;

      &-date {
        color: #545454;
        font-size: 13px;
        font-feature-settings: "pnum" on, "lnum" on;
      }

      &-weekday {
        color: #b6b6b6;
        font-size: 12px;
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    padding: 12px 0;
    flex-wrap: wrap;
    gap: 8px 0;
  }
}
