.select-box {
  background: white;
  border-radius: 8px;
  position: relative;

  &_outlined {
    border: 1px solid #cdcdcb;
  }

  &_green {
    border-color: #7cce04;
  }

  &__label {
    color: #c4c4c4;
    padding: 4px 16px 0;
    font-size: 10px;
  }

  &__current {
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
  }

  &__current:focus &__icon {
    transform: translateY(-50%) rotate(180deg);
  }

  &__current:focus + &__list {
    opacity: 1;
  }

  &__current:focus + &__list &__option {
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 12px;
    opacity: 0.3;
    transition: 0.2s ease;
    color: #00000080;
    cursor: pointer;

    &_sm {
      width: 8px;
    }

    &-left {
      padding: 0 0 0 12px;
    }
  }

  &__value {
    flex: 1 0 auto;
  }

  &__text {
    display: block;
    padding: 8px 16px;
    color: #1f201c80;
    margin: 0;

    &_black {
      color: black;
    }

    &_sm {
      padding: 4px 16px 4px;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 4px 0;
    list-style: none;
    opacity: 0;
    z-index: 1;
  }

  &__option {
    display: block;
    padding: 16px;
    background-color: #fff;

    &:hover,
    &:focus {
      color: #222222;
      background-color: #fbfbfb;
    }
  }
}
