.drawer-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0000004d;
}

.drawer-box__current {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 560px;
  padding: 40px;
  background: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.drawer-box__current hr {
  border: 1px solid #d9d9d9;
  margin: 16px 0;
}

.drawer-box__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-box__title__text {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
}

.drawer-box__content {
  padding: 24px 0;
}

.drawer-box__textarea {
  height: 140px;
}

.drawer-box__category {
  padding: 16px 0;
}

.drawer-box__category__wrapper {
  display: flex;
  padding: 24px 0;
}

.drawer-box__category__controls {
  flex: 0 0 32px;
  padding-right: 12px;
}

.drawer-box__category__block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 8px;
  justify-content: space-between;
}

.drawer-box__category__article,
.drawer-box__category__value {
  flex: 0 0 140px;
}

.drawer-box__category__name,
.drawer-box__category__percent {
  flex: 0 0 365px;
}
