body {
  background: #f5f5f5;
  margin: 0;
}

.discount-text-dark,
.discount-text-dark input,
.discount-text-dark p {
  color: #1f201c;
}

.discount-text-light-gray,
.discount-text-light-gray button {
  color: #b7b9b9;
}

.discount-text-white,
.discount-text-white button {
  color: white;
}

.discount-font-weight-medium,
.discount-font-weight-medium input,
.discount-font-weight-medium button {
  font-weight: 500;
}

.discount-font-weight-bold,
.discount-font-weight-bold input,
.discount-font-weight-bold button {
  font-weight: 700;
}

.react-datepicker {
  .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
    background-color: #7cce047f;
    color: black;
  }

  .react-datepicker__day--in-range,
  .react-datepicker__day--keyboard-selected {
    background-color: #7cce04;

    &:hover {
      background-color: #6eb704;
    }
  }
}
