body {
  background: #f5f5f5;
  margin: 0;
}

.text-dark,
.text-dark input,
.text-dark p {
  color: #1f201c;
}

.text-light-gray,
.text-light-gray button {
  color: #b7b9b9;
}

.text-white,
.text-white button {
  color: white;
}

.font-weight-bold,
.font-weight-bold input {
  font-weight: 700;
}
